.topicBox{
  background:linear-gradient(to right,#bb446a,#953050,#7c2343);
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;

}
.table{
    margin:5%;
   font-size: 15px;
    width: 90%;
}
.tr{
    height: 50px;
    text-align: center;
    
}

  .rounded-table {
    border-radius: 15px;
    overflow: hidden;
  }  
  .rounded-table thead tr {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .table td,.table th,.table tr{
    border: none;
  }
  
  .rounded-table thead th {
    background-color: #f3d8ef; 
  }
  
  
  .rounded-table tbody tr:nth-child(even) {
    background-color: #181818; 
  }
  @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
      
    }
    .table{
        margin:5%;
       font-size: 10px;
        width: 90%;
    }
    .tr{
        height: 30px;
        text-align: center;
        
    }
    
  }