.topicBox{
  background:linear-gradient(to right,#bb446a,#953050,#7c2343);
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;

}
  .leavetr th,.leavetr td{
    width:20% ;
  }
  .rounded-leavetable{
      margin:auto;
      margin-top:5%;
     font-size: 15px;
      width: 90%;
      padding: 0;
       border-radius: 15px ;
      overflow: hidden;
      
  }
  .leavetr {
      height: 50px;
      text-align: center;
      margin: 0px;
     
      }
  
   
    
    .rounded-leavetable .leavetr td,.rounded-leavetable .leavetr th,.rounded-leavetable .leavetr{
      border: none;
  
  
    }
    
    .rounded-leavetable thead th {
      background-color: #a8c3ce; 
    }
    .rounded-leavetable thead td {
      background-color: #c1d0d6 !important; 
    }
    
    
    .rounded-leavetable tbody tr:nth-child(even) {
      background-color: rgba(240, 238, 238, 0); 
    }
    @media (max-width: 768px) {
      
      .rounded-leavetable{
         font-size: 10px ;
          width: 95% ;
          display:flex;
          flex-direction: column;
      }
      .leavetr{
          
          text-align: center;
          display:flex;
          flex-direction: row;
          
      }
  
      .topicBox{
        height: 80px;
        font-size: 30px;
      }
      
    }