.topicBox{
    background-color:#F1A4BD;
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;

}
.schedule_tr th,.schedule_tr td{
  width:20% ;
}
.schedule_tr{

  height: 50px;
  text-align: center;
  margin: 0px;
 
    
}

  .rounded-scheduletable {
    margin:auto;
      margin-top:5%;
     font-size: 15px;
      width: 90%;
      padding: 0;
       border-radius: 15px ;
      overflow: hidden;
  }  
  
  
  .rounded-scheduletable td,.rounded-scheduletable th,.rounded-scheduletable tr{
    border: none;
    
  }
 
  .rounded-scheduletable thead{
    height: 50px;
  } 
  .rounded-scheduletable thead th {
    background-color: #99a5ee63 ; 
  }
  
  
  .rounded-scheduletable tbody tr:nth-child(even) {
    background-color: #181818; 
  }
  @media (max-width: 768px) {
      
    .rounded-scheduletable{
       font-size: 10px ;
        width: 95% ;
        display:flex;
        flex-direction: column;
    }
    .schedule_tr{
        
        text-align: center;
        display:flex;
        flex-direction: row;
        
    }

    .topicBox{
      height: 80px;
      font-size: 30px;
    }
    
  }