.big-rect15 {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  height: 130vh;
  margin-top: -130.7vh;
  margin-left: 18%;
  width: 83%;
  padding-bottom: 100px;
  background-color: white;
}

.small-rect15 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 55%;
  margin-left: 4.3%;
  margin-top: 2%;
background-color: white;
}

.rect-image-Makeup{
  display: flex;
  width: 190px;
  height: auto;
  margin-right: 20px;
}


.rect-heading-Makeup {
  color: black; 
  text-align: center; 
  margin-top: 25px;
}

.rect-head-Makeup{
  font-weight: 600;
  margin-top: 35px;
  font-size: 18px;
  text-align: left;
  margin-left: 15px;
}

.paragraph-makeup{
  margin-top: -32px;
  margin-left: 15px;
  text-align:center;

}



.heading-Makeup{
font-size: 40px;
margin-left: 50px;
margin-top: 30px;

}

.makeup-table-container {
  display: flex;
  justify-content: center;
  margin: 20px 4.3%;
  width: 90%;
  margin-top: 60px;
}

.makeup-table {
  margin-left: 120px;
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.makeup-table th,
.makeup-table td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.makeup-table td{
  width:1000px;

}


.makeup-table th {
  
  font-weight: bold;
  padding-bottom: 8px;
  width:1000px;
}

.makeup-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.makeup-table tr:hover {
  background-color: #f1f1f1;
}

.li-makeup1{
  color: red;
  margin-left: 100px;
  margin-top: -130px;
}
.makeuphead{
  height:2px;
  margin-top: 20px;
  color: black;
}

.makeupbody{
  height:2px;
  margin-top: -92px;
}
