.heading7{
    text-align: center;
    margin-left:120px;
   
   }
   
   
   .form {
     border-width: 10px;
           width: 40vw;
         margin-top: 40px;
          
          border: 2px solid rgb(204, 205, 206);
         padding: 20px;
         border-radius: 5px;
         background-color: rgb(204, 205, 206);
       margin-left: 400px;
       margin-bottom: 40px;
        
   }
   
   .form-label{
     margin-top: 8px;
   }
   
   .button-register {
      width:40%;
      padding: auto;
      color: black;
      font-size: 120%;
      font-weight: 500;
      margin-right: 185px;
      background-color:#bb446a;
      border-color: 2px solid black;
      display: flex;
      justify-content: center;
      margin-top: 35px;
      margin-left: 30%;
   }
   
   .button-register:hover {
      background-color: #7c2343; 
      color: white;
      border-color: 2px solid black;
   }

   .beautician-button-add{
    background-color: #bb446a;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    margin-left: 100px;
    width:150px;
    border: 2px solid black;
  }
  
  .beautician-button-add:hover{
    background-color: #7c2343;
    color: white;
    font-weight: 500;
    border: 2px solid black;
  }
   