.topicBox{
    background:linear-gradient(to right,#bb446a,#953050,#7c2343);
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;
    width:100vw;
    margin-top: 20px;
    margin-left: -11.9px;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    
}
.table01{
    min-height: 300px;
    margin-top: 8%;
    border: 1px solid;
    border-radius: 15px;
    
}
.table02{
    min-height: 300px;
    margin-top: 8%;
    border: 1px solid;
    border-radius: 15px;
}
table{
    min-height: 300px;
  display: grid;
   margin: 10px;
   

}

.tr th,tr td{
    width: 150px;
    text-align: center;
}
.dropdown{
    margin: 5%;
    width: 90%;
    border-radius: 20px !important;
}


.Menu{
    text-align: center;
}
.Item:hover{
    background-color: #b1b1b1 !important;
}
@media (max-width: 768px) {
    .content{
        margin-left: 0%;
        margin-right: 5%;
    }
    .table01, .table02 {
      display: block;
      width: 100%;
      margin-left: 5%;
    }
  
    .table th, .table td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    .table th {
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .topicBox p {
      font-size: 10px;
    }
   
  
    .dropdown-section {
      text-align: center;
    }
  }
