.topicBox{
    background:linear-gradient(to right,#bb446a,#953050,#7c2343);
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;
}
table{
    min-height: 300px;
   display: flex;
}

.tr th{
    width: 150px;
    text-align: center;
}