.topicBox{
  background:linear-gradient(to right,#bb446a,#953050,#7c2343);
  height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;

}
.table{
    margin:auto !important;
    margin-top:5% !important;
   font-size: 15px;
    width: 80% !important;
    padding: 0;
    border: 2px solid rgb(223, 225, 226) !important;
    
}
.tr{
    height: 50px;
    text-align: center;
    margin: 0px;
   
    
    
}

  .rounded-table {
    border-radius: 15px ;
    overflow: hidden;
  }  
 
  
  .table td,.table th{
    border: none;


  }
  
  .rounded-table thead th {
    background-color: #c1d0d6; 
  }
  .rounded-table thead td {
    background-color: #c1d0d6 !important; 
  }
  
  
  .rounded-table tbody tr:nth-child(even) {
    background-color: rgba(240, 238, 238, 0); 
  }
  @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
      
    }
    .table{
       font-size: 8px ;
        width: 95% !important;
        display:flex;
        flex-direction: column;
    }
    .tr{
        
        text-align: center;
        display:flex;
        flex-direction: row;
        
    }

    .topicBox{
      height: 80px;
      font-size: 30px;
    }
    
  }