.topicBox{
  background:linear-gradient(to right,#bb446a,#953050,#7c2343);
  height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;

}
.saltr th,.saltr td{
  width:25% ;
}
.rounded-saltable{
    margin:auto;
    margin-top:5%;
   font-size: 15px;
    width: 90%;
    padding: 0;
    
}
.saltr {
    height: 50px;
    text-align: center;
    margin: 0px;
   
    }

  .rounded-saltable {
    border-radius: 15px ;
    overflow: hidden;
  }  
 
  
  .rounded-saltable .saltr td,.rounded-saltable .saltr th,.rounded-saltable .saltr{
    border: none;


  }
  
  .rounded-saltable thead th {
    background-color: #a8c3ce; 
  }
  .rounded-saltable thead td {
    background-color: #c1d0d6 !important; 
  }
  
  
  .rounded-saltable tbody tr:nth-child(even) {
    background-color: rgba(240, 238, 238, 0); 
  }
  @media (max-width: 768px) {
    
    .rounded-saltable{
       font-size: 8px ;
        width: 95% ;
        display:flex;
        flex-direction: column;
    }
    .saltr{
        
        text-align: center;
        display:flex;
        flex-direction: row;
        
    }

    .topicBox{
      height: 80px;
      font-size: 30px;
    }
    
  }