.bordername{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.name{ 
    border-radius: 10px;
    border-color: black;
    margin-bottom: 0px;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 20px;
    border: 1px solid;
    width: 50%;
    text-decoration: none;
    color: #000;
    
}
.name:hover{
    border-color: rgb(173, 48, 86) ;
    color: rgb(173, 48, 86) ;
}
.btn02{
 background-color: rgb(219, 2, 2);
    border-radius: 10px;
    font-size: 20px;
    margin-left: 10px;
    width:100px;
}
.btn02:hover{
    border-color: red;
    background-color: red;
}
.img01{
width: 40px;
height: 40px;
margin-left: 15px;
margin-right: 10px;
border-radius: 50%;
}
@media (max-width: 768px){
    .name{
        padding-bottom:2px;
        font-size: 15px;
      
        
    }
    .btn02{
     background-color: rgb(219, 2, 2);
        font-size: 15px;
        margin-left: 10px;
    }
    .img01{
    width: 30px;
    height: 30px;
   
    }
}