.beauticiansort{
    display: flex;
    background-color: white;
    color: black;
    margin-left: 40px;
    border-color: black;
    width: 100px;
}

@media screen and (max-width: 400px) {
    .beauticiansort {
      margin-left: 10px;
      width: 80px;
    }
  }