.big-rect1 {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  height: 130vh;
  margin-top: -133.7vh;
  margin-left: 18%;
  width: 82%;
  padding-bottom: 100px;
}

.small-rect1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 35%;
  margin-left: 4.3%;
  margin-top: 8%;

}

.small-rect1-1 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 35%;
    margin-left: 4.3%;
    margin-top: 8%;
  }

.small-rect2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 150%;
  margin-left: 5%;
  align-items: center;
  margin-right: 10px;
}

.main-photo {
  width: 100%;
  height: 70%;
  background-color: aliceblue;
}

.rect-image {
    display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.rect-heading {
  color: black; /* Text color */
  text-align: center;
  font-size: 1rem; /* Adjust as needed */
  margin-top: 2px;
}

.rect-head-head{
    font-weight: 700;
}