.BIg-main-main-Addservicehome{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .main-Addservicehome{
    display: flex;
    width: 100vw;
    min-height: 150px;
    flex-direction: row;
    background-color: #F1A4BD;
    text-align: center;
    align-items: center;
  }
  
  .main-head-Addservicehome{
    margin-left: 10%;
    color: black;
    font-family: 'Arial';
    font-size: 35px;
    font-family: 'Inder' ,
  }

  .big-rect10 {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    height: 130vh;
    margin-top: -130.7vh;
    margin-left: 18%;
    width: 82%;
    padding-bottom: 100px;
    background-color: black;
  }
  
  .small-rect10 {
    display:flex;
    flex-direction: row;
    width: 90%;
    height: 35%;
    margin-left: 4.3%;
    margin-top: 8%;
    background-color: red;
  
  }
  
 
  .small-rect20 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 150%;
    margin-left: 5%;
    align-items: center;
    margin-right: 10px;
    background-color: blueviolet;
  }
  
    