.img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .service {
    margin-bottom: 20px;
    width:100%;
    height: 125px;
    background-color: #F1A4BD;

  }
  
  .sev {
    font-size:40px;
    font-weight: bold;
    margin-left: 30px;
    font-style: italic;
  }
  
  .service-cards, .staff-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: px;
    
    
    
  }
  
  .card-container {
    box-sizing: border-box;
    
  }
  
  .card {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: 225px;
    height: 290px;
    margin-left: 75px;
    
    
  }
  
  .card-img {
    width: 225px;
    height: 225px;
  }
  
  .card-content {
    padding: 10px;
  }
  .img2{
    width: 100%;
    height: auto;
  }
  
  
 