.big-rect12 {
  display: flex;
  flex-direction: column;
  margin-top: -905px;
  margin-left: 17%;
  width: 83%;
  padding-bottom: 100px;
  background-color: white;
}

.small-rect12 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 4.3%;
  margin-top: 2%;
  background-color: white;
}

.rect-image-facialcleanup{
  display: flex;
  width: 190px;
  height: auto;
  margin-right: 20px;
}



.rect-heading-facialcleanup {
  color: black; 
  text-align: center; 
  margin-top: 25px;
}

.rect-head-facialcleanup{
  font-weight: 600;
  margin-top: 35px;
  font-size: 18px;
  text-align: left;
  margin-left: 15px;
}





.heading-facialcleanup{
font-size: 40px;
margin-left: 50px;
margin-top: 30px;

}

.cleanup-table-container {
  display: flex;
  justify-content: center;
  margin: 20px 4.3%;
  width: 90%;
  margin-top: 60px;
}

.cleanup-table {
  margin-left: 120px;
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.cleanup-table th,
.cleanup-table td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.cleanup-table td{
  width:1000px;

}


.cleanup-table th {
  
  font-weight: bold;
  padding-bottom: 8px;
  width:1000px;
}

.cleanup-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cleanup-table tr:hover {
  background-color: #f1f1f1;
}


.cleanuphead{
  height:2px;
  margin-top: 20px;
  color: black;
}

.cleanupbody{
  height:2px;
  margin-top: -92px;
}


@media (max-width: 400px) {
 

  .small-rect12 {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 5%;
   
  }

  .main-heading-facialcleanup,
  .main-heading-facialcleanup1,
  .li-facialcleanup {
    margin-left: 0;
    text-align: center;
    font-size: 12px;
  }

 
  .heading-facialcleanup {
    margin-left: 15px;
    
   font-size: 22px;
  }

  .rect-head-facialcleanup {
    text-align:left;
    font-size: 10px;

  }

  .paragraph-facialcleanup{
    font-size: 17px;


  }

  .list-facialcleanup,
  .list-facialcleanup1 {
    margin-left: 0;
    
  
  }

  .rect-image-facialcleanup {
    width: 150px; 
    height: auto; 
    margin-bottom: 5px; 
    margin-left: 15px;
  }
}

.services-container {
  padding: 20px;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
}

.services-table th, .services-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.services-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.services-table td {
  text-align: left;
}
