.big-rect1 {
  display: flex;
  flex-direction: column;
  margin-top: -905px;
  margin-left: 17%;
  width: 83%;
  padding-bottom: 100px;
  background-color: white;
}

.small-rect1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 4.3%;
  margin-top: 2%;
  background-color: white;
}

.rect-image-Bride {
  display: flex;
  width: 190px;
  height: auto;
  margin-right: 20px;
}

.h31{
  margin-top: -32px;
  margin-left: 15px;
  text-align:center;
}

.rect-heading-Bride {
  color: black; 
  text-align: center; 
  margin-top: 25px;
}

.rect-head-Bride {
  font-weight: 600;
  margin-top: 35px;
  font-size: 18px;
  text-align: left;
  margin-left: 15px;
}



.bridal-table-container {
  display: flex;
  justify-content: center;
  margin: 20px 4.3%;
  width: 90%;
  margin-top: 60px;
}

.bridal-table {
  margin-left: 120px;
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.bridal-table th,
.bridal-table td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.bridal-table td{
  width:1000px;

}


.bridal-table th {
  
  font-weight: bold;
  padding-bottom: 8px;
  width:1000px;
}

.bridal-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.bridal-table tr:hover {
  background-color: #f1f1f1;
}

.li-Bride1{
  color: red;
  margin-left: 100px;
  margin-top: -130px;
}
.bridalhead{
  height:2px;
  margin-top: 20px;
  color: black;
}

.bridalbody{
  height:2px;
  margin-top: -92px;
}

@media (max-width: 400px) {
  .big-rect1 {
    margin-top: -800px; /* Adjust as needed */
    margin-left: 80px;
    width: 80%;
  }

  .small-rect1 {
    flex-direction: column;
    margin-top: 5%;
  }
  
  .rect-image-Bride {
    height: auto;
    margin-bottom: 3px;
    width: 30%;
  }
  
  .heading-Bride {
    font-size: 18px;
    margin-left: 15px;
  }
  
  .rect-head-Bride {
    font-size: 12px;
    margin-top: 70px;
  }

  .bridal-table-container {
    margin: 20px 2.3%;
    width: 75%;
    margin-top: -10px;
  }

  .bridal-table {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .bridal-table th, 
  .bridal-table td {
    padding: 8px;
    font-size: 11px;
  }
  
  
  .h31{
    font-size: 14px;
    justify-content:center;
    margin-top: -150px;
    margin-left: 100px;

  }
 
  .li-Bride1 {
    font-size: 12px;
    margin-top: -130px;
    margin-left: -18px;
    color: red;
    
  }
}