.big-rect13 {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  height: 130vh;
  margin-top: -130.7vh;
  margin-left: 18%;
  width: 83%;
  padding-bottom: 100px;
  background-color: white;
}

.small-rect13 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 55%;
  margin-left: 4.3%;
  margin-top: 2%;
background-color: white;
}

.rect-image-Haircolour{
  display: flex;
  width: 190px;
  height: auto;
  margin-right: 20px;
}

.paragraph-haircolour{
  margin-top: -32px;
  margin-left: 15px;
  text-align:center;
}

.rect-heading-Haircolour {
  color: black; 
  text-align: center; 
  margin-top: 25px;
}

.rect-head-Haircolour{
  font-weight: 600;
  margin-top: 35px;
  font-size: 18px;
  text-align: left;
  margin-left: 15px;
}





.heading-Haircolour{
font-size: 40px;
margin-left: 50px;
margin-top: 30px;

}

.haircolour-table-container {
  display: flex;
  justify-content: center;
  margin: 20px 4.3%;
  width: 90%;
  margin-top: 60px;
}

.haircolour-table {
  margin-left: 120px;
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.haircolour-table th,
.haircolour-table td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.haircolour-table td{
  width:1000px;

}


.haircolour-table th {
  
  font-weight: bold;
  padding-bottom: 8px;
  width:1000px;
}

.haircolour-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.haircolour-table tr:hover {
  background-color: #f1f1f1;
}

.li-haircolour1{
  color: red;
  margin-left: 100px;
  margin-top: -130px;
}
.haircolourhead{
  height:2px;
  margin-top: 20px;
  color: black;
}

.haircolourbody{
  height:2px;
  margin-top: -92px;
}





@media (max-width: 400px) {
  .small-rect13 {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 5%;
  }

  .main-heading-Haircolour,
  .main-heading-Haircolour1,
  .li-Haircolour {
    margin-left: 0;
   
    font-size: 12px;
  }

  .heading-Haircolour {
    margin-left: 15px;
    font-size: 19px;
  }

  .rect-head-Haircolour {
    text-align: left;
    margin-right:15px ;
    font-size: 12px;
  }

  .rect-heading-Haircolour {
    text-align: left;
    margin-right:15px ;
    font-size: 10px;
    margin-top: -13px;
  }

  .list-Haircolour {
    margin-left: 0;
  }
  .paragraph-haircolour{
    font-size:15px;
    
  }
  .rect-image-Haircolour {
    width: 150px; 
    height: auto; 
    margin-bottom: 5px; 
    margin-left: 15px;
  }
}


