.big-rect13 {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  height: 130vh;
  margin-top: -130.7vh;
  margin-left: 18%;
  width: 83%;
  padding-bottom: 100px;
  background-color: white;
}

.small-rect13 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 55%;
  margin-left: 4.3%;
  margin-top: 2%;
background-color: white;
}

.rect-image-Haircolour{
  display: flex;
width: 100;
height: 100%;
margin-bottom: 10px;
}

.main-photo-Haircolour {
  width: 100%;
  height: 90%;
  background-color: white;
}

.rect-heading-Haircolour {
color: black; 
text-align: center; 
margin-top: 25px;
margin-left: 30px;
}

.rect-head-Haircolour{
  font-weight: 600;
  margin-top: 25px;
  font-size: 23px;
  text-align: left;
}

.main-heading-Haircolour{
  margin-top: 30px;
  margin-left: 100px;
}

.main-heading-Haircolour1{
  margin-top: 30px;
  margin-left: 30px ;
}

.li-Haircolour{
  font-size: 20px;
  font-weight: 500;
  margin-top: 18px;
  margin-left: 75px ;
}

.heading-Haircolour{
font-size: 40px;
margin-left: 50px;
margin-top: 30px;

}

.list-Haircolour{
  margin-left: 80px;

}
.list-Haircolour1{
  margin-left: 80px;

}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.services-container {
  padding: 20px;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
}

.services-table th, .services-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.services-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.services-table td {
  text-align: left;
}

.edit-button, .delete-button {
  margin-right: 10px;
}


@media (max-width: 400px) {
  .small-rect13 {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 5%;
  }

  .main-heading-Haircolour,
  .main-heading-Haircolour1,
  .li-Haircolour {
    margin-left: 0;
   
    font-size: 12px;
  }

  .heading-Haircolour {
    margin-left: 15px;
    font-size: 19px;
  }

  .rect-head-Haircolour {
    text-align: left;
    margin-right:15px ;
    font-size: 12px;
  }

  .rect-heading-Haircolour {
    text-align: left;
    margin-right:15px ;
    font-size: 10px;
    margin-top: -13px;
  }

  .list-Haircolour {
    margin-left: 0;
  }
  .paragraph-haircolour{
    font-size:15px;
    
  }
  .rect-image-Haircolour {
    width: 150px; 
    height: auto; 
    margin-bottom: 5px; 
    margin-left: 15px;
  }
}


