.Admin-footer{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    }
.Admin-img02{
        width: 30px;
        height: 30px;
        margin: 10px;
}

.Admin-img03{
        width: 20px;
        height: 20px;
        margin-right:5px;
}

.Admin-img04{
        width: 15px;
        height: 20px;
        margin-right:5px;
}

.Admin-line{
        border: none; 
        height: 2px;
        background-color: #000000;
        width: 50%; 
        margin: 10px auto; 
 }

.Admin-footer01{
        display: flex;
    justify-content: space-between;
    p{
        font-size:15px;
        
    }}
.Admin-p1{
        margin-left: 2%;
 }   

.Admin-p3{
        margin-right: 10%;
}

.Admin-fulfooter{
         background-color: #C3689F;
         }