.topicBox{
    background:linear-gradient(to right,#bb446a,#953050,#7c2343);
    height: 150px;
    padding-left: 50px;
    font-size:60px;
    display: grid;
    align-content: center;
    font-family: Kaushan Script,cursive;
}
table{
    width:90%;
    margin: 5%;
    background-color: rgb(218, 220, 221);
    border-radius: 15px;
    text-align: center;
   
}
table th,table td{
 padding: 10px;
 
}
table td a{
    padding: 5px 20px 5px ;
    background-color: #24c71e;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
}
table td a:hover{
    background-color: #33f12d;
}