.big-rect16 {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    height: 130vh;
    margin-top: -130.7vh;
    margin-left: 18%;
    width: 83%;
    padding-bottom: 100px;
    background-color: white;
  }

  .small-rect16 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 55%;
    margin-left: 4.3%;
    margin-top: 2%;
  background-color: white;
  }

  .rect-image-Nails{
    display: flex;
  width: 100;
  height: 100%;
  margin-bottom: 10px;
}

.main-photo-Nails {
    width: 100%;
    height: 90%;
    background-color: white;
  }

.rect-heading-Nails {
  color: black; 
  text-align: center; 
  margin-top: 25px;
  margin-left: 20px;
}

.rect-head-Nails{
    font-weight: 600;
    margin-top: 25px;
    font-size: 23px;
    text-align: left;
}

.main-heading-Nails{
    margin-top: 30px;
    margin-left: 100px;
}

.main-heading-Nails1{
    margin-top: 30px;
    margin-left: 30px;
}

.li-Nails{
    font-size: 20px;
    font-weight: 500;
    margin-top: 18px;
    margin-left: 85px;
}

.heading-Nails{
  font-size: 40px;
  margin-left: 50px;
  margin-top: 30px;

}

.list-Nails{
    margin-left: 80px;

}

.services-container {
  padding: 20px;
}

.services-table {
  width: 100%;
  border-collapse: collapse;
}

.services-table th, .services-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.services-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.services-table td {
  text-align: left;
}
