
.btBook{
    border: none;
    background-color: #d43e6d;
    width: 100%;
    text-align: center;
   
}
.home{
    margin-right: 30px;
    
}
.beu{
    margin-right: 30px;
}
.shop{

    margin-right: 30px;
}
.ser{
    margin-right: 30px;
}

.me-auto{
    margin-left: 10px;

}


