
.btBook{
    border: none;
    background-color: #d43e6d;
    width: 100%;
    text-align: center;
    margin-right: 50px;
   
}
.home{
    margin-right: 40px;
    
}
.beu{
    margin-right: 40px;
}
.shop{

    margin-right: 40px;
}
.ser{
    margin-right: 40px;
}

.me-auto{
    margin-right: 80px;

}


