.BIg-main-main-rect-beauticianform{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    margin-left: -11.9px;
    margin-top: 20px;
  }
  
  .main-head-beauticianform{
    display: flex;
    width: 99vw;
    min-height: 120px;
    flex-direction: row;
    background: linear-gradient(to right,#bb446a,#953050,#7c2343);
    text-align: center;
    align-items: center;
  }
  
  .main-head-beauticianform1-1{
    margin-left: 8%;
    color: white;
    font-family: 'Arial';
    font-size: 35px;
    font-family: 'Idran' ,
  }

  @media screen and (max-width: 400px) {
    .main-head-beauticianform1-1 {
      margin-left: 5%;
      font-size: 20px;
    }
  }